# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Database
app.db

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db